#clearance.password-reset
  h2= t(".title")
  p= t(".description")
  = form_for :password_reset,
  url: user_password_path(@user, token: @user.confirmation_token),
  html: { method: :put, class: "form-group" } do |form|
  .password-field
    = form.label :password
    = form.password_field :password, class: "form-control col-6"
  .submit-field
    = form.submit class: "btn btn-primary mt-2 mb-2"
