section.guest-home
  .center.jumbotron.mt-5
    h1 Welcome to Shoutr
    h3 Twitter-like service called "Shoutr" where we'll create "Shouts" instead of "Tweets."
    p.guest-home__text
      | Please
      | #{link_to " Sign in ", sign_in_path}
      | or
      | #{link_to " Sign up ", sign_up_path}