body
  header.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    .container-fluid
      .navbar-header
        = link_to "Shoutr", root_path, class: "navbar-brand"
      #navbarCollapse.collapse.navbar-collapse.justify-content-end
        ul.nav.navbar-nav.navbar-right
          li.nav-item
            = link_to "Home", root_path, class: "nav-link"
          li.nav-item
            = users_link
          li.nav-item
            = link_to current_user.email, user_path(current_user), class: "nav-link"
          li.nav-item
            = session_link